<?xml version="1.0"?>
<config>

    <modules>
        <ovs_magefaker>
            <version>0.7.0</version>
        </ovs_magefaker>
    </modules>

    <global>

        <models>
            <ovs_magefaker>
                <class>Ovs_Magefaker_Model</class>
            </ovs_magefaker>
        </models>

        <blocks>
            <ovs_magefaker>
                <class>Ovs_Magefaker_Block</class>
            </ovs_magefaker>
        </blocks>

        <helpers>
            <ovs_magefaker>
                <class>Ovs_Magefaker_Helper</class>
            </ovs_magefaker>
        </helpers>

        <events>
            <controller_front_init_before>
                <observers>
                    <ovs_magefaker>
                        <type>singleton</type>
                        <class>ovs_magefaker/observer</class>
                        <method>setAutoload</method>
                    </ovs_magefaker>
                </observers>
            </controller_front_init_before>
        </events>

    </global>

    <admin>
        <routers>
            <ovs_magefaker>
                <use>admin</use>
                <args>
                    <module>Ovs_Magefaker</module>
                    <frontName>magefaker</frontName>
                </args>
            </ovs_magefaker>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <ovs_magefaker>
                    <file>ovs_magefaker.xml</file>
                </ovs_magefaker>
            </updates>
        </layout>
    </adminhtml>

</config>